
.navbar-nav {
    margin-top: 10px;
    width: auto;
  
  @media (min-width: $screen-sm-min) {
    width: 41%;
  }
  
  @media (min-width: $screen-md-min) {
    width: 55%;
  }

  @media (min-width: $screen-lg-min) {
    width: auto;
  }

  > li {
    &.current-menu-item {
      background: none;
        background-color: darken(#17A400, 10%);
    }
    > a {
      @include invert-color($link-color);
      padding-top:    10px;
      padding-bottom: 10px;
      // line-height: $line-height-computed;
      text-transform: uppercase;
      &:hover {
        background: none;
        @include invert-color($link-hover-color);

        @media (min-width: $screen-md-min) {
          background-color: #17A400;
          color: #000;
        }
      }
    }
  }
    
  // Uncollapse the nav
  @media (min-width: $grid-float-breakpoint) {
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
      }
    }
  }
}

.nav-pills {
  li a{
    text-transform: uppercase;
    &:hover {
      background: none;
      @include invert-color($link-hover-color);
    }
    &:first-child {
      padding-left: 0;
    }
  }
}

@media (max-width: $screen-sm-min) {
  .navbar-collapse {
    background-color: rgba(0,0,0, 0.5);
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
  }
}

.sub-menu {
  @extend .dropdown-menu;
}