
section.widget {
	margin-top: 2em;
	position: relative;
	max-height: 200px;
	@include transition(height ease-in-out .3s, box-shadow ease-in-out .3s);
	&:hover {
		.widget-content {
			height: auto;
			z-index: 9;
			width: 100%;
			@include box-shadow(0 0 5px rgba(0,0,0,0.5));
			@include transition(height ease-in-out .3s, box-shadow ease-in-out .3s);
		}
	}
	.widget-content {
		position: absolute;
		background-color: $content-color;
		height: inherit;
		width: 90%;
		padding: 1em;
		overflow: hidden;
	}
}