
section.widget {
	margin-top: 2em;
	position: relative;
	height: 300px;
	&:hover {
		.widget-content {
			height: auto;
			z-index: 9;
			width: 100%;
			@include box-shadow(0 1px 2px rgba(0,0,0,.075));
			@include transition(height ease-in-out .15s, box-shadow ease-in-out .15s);
		}
	}
	.widget-content {
		position: absolute;
		background-color: $content-color;
		height: inherit;
		width: 90%;
		padding: 1em;
		overflow: hidden;
	}
}