// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    12;

// Colors
$brand-primary:         #27ae60;

$body-color:			#000;

$content-color:			#CFCFCF;

$border-radius-none:        0px !default;
$btn-default-color:			#ccc !default;
$btn-default-bg:            #000 !default;
$btn-default-border:        #000 !default;

$link-color:			#2259B4 !default;
$link-hover-color:      darken($link-color, 50%) !default;
 
$modal-content-bg: #F6F6F6;

// $font-size-base: 12px !default;

// $font-size-body: floor(($font-size-base * 1.167)) !default;

$regular-font-face: 'GothamBook Regular', Arial, sans-serif;