footer[role="contentinfo"] {
	@include invert-color($text-color);
	.container {
		margin: 2em auto;
		.floating-bar {
			@include opacity(0.9);
			margin-bottom: 0px;
			position: fixed;
			bottom: 0;
			right: 0;
			background: #000;
			padding: 2em;
			z-index: 9;
			.close {
				color: darken(#fff, 15%);
				padding: 0px 0px 2px;
			}
		}
	}
	.col-md-3 {
		margin-top: 10px;
	}
	.sidebar {
		color: #000;
	}
	#dmca {
		background: url(../images/dmca.png) bottom left no-repeat;
		width: 120px;
		height: 21px;
	}
}

