.splash-text-top {
	padding-bottom: 70px;
	hr {
		height: 40px;
	}
}

.splash-text-left {
	border-bottom: solid 1px darken($modal-content-bg, 20%);
	@media (min-width: $screen-sm-min) {
    	border-right: solid 1px darken($modal-content-bg, 20%);
    	border-bottom: none;
    }
 }

 .splash-text-left, .splash-text-right {
 	hr {
		height: 30px;
	}
 	@media (min-width: $screen-sm-min) {
	 	.cform-group {
	 		width: 60%;
	 	}
	 	#conversion-button {
	 		width: 40%;
	 	}
 	}
 	

 }